.cartItemContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  border-radius: 5rem;
  padding: 2rem 4rem 2rem 4rem;
  max-height: 8rem;
}

.cartItemImage {
  min-width: 5rem;
  max-width: 7rem;
  min-height: 5rem;
  max-height: 7rem;
}
