/* 
URL: https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529
Color palette (light to dark):
#F8F9FA
#E9ECEF
#DEE2E6
#CED4DA
#ADB5BD
#6C757D
#495057
#343A40
#212529
*/

.primaryBg {
  background-color: #e9ecef;
}
.primaryBgHover:hover {
  background-color: #e9ecef;
}

.secondaryBg {
  background-color: #6c757d;
}
.secondaryBgHover:hover {
  background-color: #6c757d;
}

.primaryColor {
  color: #343a40;
}
.primaryColorHover:hover {
  color: #343a40;
}

.secondaryColor {
  color: #f8f9fa;
}
.secondaryColorHover:hover {
  color: #f8f9fa;
}

.tertiaryColor {
  color: #ced4da;
}
.tertiaryColorHover:hover {
  color: #ced4da;
}
