.navLink {
  composes: secondaryColor tertiaryColorHover from "colors.module.css";
  text-decoration: none;
}

.navLink:visited {
  text-decoration: none;
}
.navLink:hover {
  text-decoration: none;
}
.navLink:active {
  text-decoration: none;
}
