.productsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 8rem;
  gap: 8rem;
}
@media screen and (max-width: 1024px) {
  .productsContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 4rem;
    gap: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .productsContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2rem;
    gap: 2rem;
  }
}
