.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productCard img {
  min-width: 15rem;
  min-height: 15rem;
  max-width: 15rem;
  max-height: 15rem;
}
