.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  gap: 1rem;
}

.productCard img {
  min-width: 12rem;
  min-height: 12rem;
  max-width: 15rem;
  max-height: 15rem;
}

@media screen and (max-width: 899px) {
  .productCard img {
    min-width: 8rem;
    min-height: 8rem;
  }
}
@media screen and (max-width: 599px) {
  .productCard img {
    min-width: 8rem;
    min-height: 8rem;
  }
}
