.shopContainer {
  composes: primaryBg from "colors.module.css";
  height: 100%;
  width: 100vw;
  padding: 1rem;
}

.loadingText {
  height: 100vh; /* Change height so background covers entire page during loading */
}
